.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;

  box-shadow: 2px 2px 50px #203647;
  overflow: scroll;
  transform: translate(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: 0.5s ease;
  img {
    width: 30%;
  }
  &:hover {
    background: #4da8da;
  }
}
.song-description {
  background: none;
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    background: none;
  }
  h4 {
    font-size: 0.7rem;
    background: none;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #007cc7;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #203647;
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #007cc7;
}

.active-library {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
