nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #eefbfb;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: #007cc7;
      color: #eefbfb;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
      margin-right: 1rem;
    }
  }
}
