* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background: #12232e;
  color: #eefbfb;
}

h1,
h2,
h3 {
  color: #eefbfb;
}
h3,
h4 {
  font-weight: 400;
  color: #eefbfb;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
